body {
  margin: 0;
  padding: 0;
  font-family: IBM;
  color: #ffcdff;
  background-color: #111111;
}

body #texture_overlay {
  pointer-events: none;
  z-index: 0;
  position: absolute;
  width: 100vw;
  background-image: url(images/IMG_20220103_164628.jpg);
  mix-blend-mode: overlay;
  background-repeat: repeat-y;
  overflow-x: hidden;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.top_section {
  width: 100vw;
  height: 25vh;
  background-color: #111111;
}

.bottom_section {
  width: 100vw;
  background-color: #111111;
  padding: 0;
  margin: 0;
}

.bottom_section .space {
  width: 100vw;
  height: 10vh;
}

.bottom_section .media {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom_section .media video {
  z-index: 2;
  width: 75vw;
}

.bottom_section .media img {
  z-index: 2;
  width: 75vw;
}

.bottom_section .media .post {
  z-index: 2;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.bottom_section .social {
  display: block;
}

.bottom_section .social .sociallink {
  margin: auto;
  text-align: center;
}

.bottom_section .social .sociallink img {
  width: 200px;
}

.bottom_section .content {
  font-size: 0;
  width: 100vw;
}

.bottom_section .content #tracklist {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100vw;
}

.content_venture {
  overflow: hidden;
  width: 100vw;
  display: block;
  text-align: center;
  margin: auto;
}

.content_venture .venture {
  padding: 0;
  position: relative;
  z-index: 10;
  width: 100vw;
  display: block;
  font-size: 35px;
}

.content_venture .venture img {
  -webkit-box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 75%;
}

.content_venture .venture .venture_cover_video {
  -webkit-box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 75%;
  aspect-ratio: 1 / 1;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -100px;
     object-position: 0px -100px;
  border-radius: 8px;
}

.content_venture .venture a {
  color: #ffdcdc;
}

.content_venture .venture p {
  line-height: 40px;
  padding: 30px;
}

.content_venture .remix_detail {
  z-index: 1;
  position: absolute;
  width: 100vw;
  -webkit-transform: rotate(358deg) translateY(-42px) translateX(50px);
          transform: rotate(358deg) translateY(-42px) translateX(50px);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.daemonium_cover {
  font-family: IBM;
  padding: 10px;
  text-align: center;
  line-height: 40px;
}

.daemonium_cover img {
  margin: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 75%;
  -webkit-box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
}

.daemonium_cover p {
  line-height: 40px;
  font-size: 30px;
  color: #ffcdff;
}

.daemonium_cover p a {
  color: #ff76d1;
}

.daemonium_cover .daemonium_text {
  line-height: 40px;
  font-size: 30px;
}

.daemonium_cover #mv {
  aspect-ratio: 16 / 9;
  width: auto;
}

@font-face {
  font-family: Laviossa;
  src: url(/font/Laviossa-Medium.otf);
}

footer {
  width: 100vw;
  text-align: center;
}
/*# sourceMappingURL=style-mobile.css.map */