body {
  margin: 0;
  padding: 0;
  font-family: IBM;
  color: #ffcdff;
  background-color: #111111;
}

body #texture_overlay {
  pointer-events: none;
  z-index: 0;
  position: absolute;
  width: 100vw;
  background-image: url(images/IMG_20220103_164628.jpg);
  mix-blend-mode: overlay;
  background-repeat: repeat-y;
  overflow-x: hidden;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.top_section {
  width: 100vw;
  height: 50vh;
  background-color: #f63636;
}

.bottom_section {
  width: 100vw;
  background-color: #111111;
  padding: 0;
  margin: 0;
}

.bottom_section #gradient {
  width: 100vw;
}

.bottom_section .space {
  width: 100vw;
  height: 10vh;
}

.bottom_section .media {
  z-index: 2;
  font-family: IBM;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom_section .media video {
  z-index: 2;
  width: 30vw;
  border-radius: 8px;
}

.bottom_section .media img {
  z-index: 2;
  width: 30vw;
  border-radius: 8px;
}

.bottom_section .media .post {
  z-index: 2;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.bottom_section .media a {
  color: #ffcdff;
}

.bottom_section .social {
  width: 75vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom_section .social .sociallink {
  margin: auto;
}

.bottom_section .social .sociallink img {
  width: 200px;
}

.bottom_section .content {
  font-size: 0;
  width: 100vw;
}

.bottom_section .content #tracklist {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100vw;
}

.content_venture {
  background-color: rgba(47, 99, 70, 0.336);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(47, 99, 70, 0.336);
          box-shadow: 0px 0px 10px 10px rgba(47, 99, 70, 0.336);
  font-family: IBM;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_venture .venture {
  color: RGB(108, 174, 103);
  padding: 50px;
  z-index: 1;
  margin: auto;
  display: block;
  font-size: 50px;
}

.content_venture .venture img {
  -webkit-box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  aspect-ratio: 1 / 1;
  width: 30vw;
  height: auto;
}

.content_venture .venture .venture_cover_video {
  -webkit-box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  aspect-ratio: 1 / 1;
  width: 30vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -100px;
     object-position: 0px -100px;
  border-radius: 8px;
}

.content_venture .venture a {
  color: #ffdcdc;
}

.content_venture .venture p {
  line-height: 50px;
  padding: 30px;
}

.content_venture .remix_detail {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  mix-blend-mode: overlay;
  position: absolute;
  width: 1000px;
  right: 50px;
  -webkit-transform: translateY(-122px) rotate(359deg);
          transform: translateY(-122px) rotate(359deg);
  z-index: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: Laviossa;
  src: url(/font/Laviossa-Medium.otf);
}

@font-face {
  font-family: IBM;
  src: url(/font/Flexi_IBM_VGA_True.ttf);
}

.daemonium_cover {
  z-index: 3;
  font-family: IBM;
  padding: 80px;
  text-align: center;
}

.daemonium_cover img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 25%;
  -webkit-box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.daemonium_cover p {
  z-index: 3;
  text-shadow: 2px 2px #292929;
  line-height: 10px;
  font-size: 40px;
  color: #ffcdff;
}

.daemonium_cover p a {
  z-index: 3;
  color: #ff76d1;
}

.daemonium_cover .daemonium_text {
  font-size: 60px;
}

.daemonium_cover #mv {
  aspect-ratio: 16 / 9;
  height: auto;
}

footer {
  font-size: 20px;
  width: 100vw;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */