body{
    margin:0;
    padding: 0;
    font-family: Laviossa;
    color: rgb(255, 205, 255);
    background-color: rgb(17, 17, 17);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.top_section{
    width: 100vw;
    height: 25vh;
    background-color: rgb(17, 17, 17);
}

.bottom_section{
    width: 100vw;
    background-color: rgb(17, 17, 17);
    padding: 0;
    margin: 0;

    .space {
        width: 100vw;
        height: 10vh;
    }

    .media{
        display: block;
        video{
            width: 75vw;
        }
        img{
            width: 75vw;
        }
        .post{
            margin: auto;
            text-align: center;
            font-size: 30px;
        }
    }

    .social{
        display: block;
        .sociallink{
            margin: auto;
            text-align: center;
            img{
                width: 200px;
            }
        }
    }

    .content{
        font-size: 0;
        width: 100vw;
        #tracklist{
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            width: 100vw;
        }
        
    }
}

.content_venture{
    
    overflow: hidden;
    width: 100vw;
    display: block;
    text-align: center;
    margin: auto;
    .venture{
        padding: 0;
        position: relative;
        z-index: 10;
        width: 100vw;
        display: block;
        font-size: 35px;
        img{
            box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            width: 75%;
        }
        a{
            color: rgb(255, 220, 220);
        }
        p{
            line-height: 40px;
            padding: 30px;
        }
    }
    .remix_detail{
        z-index: 1;
        position: absolute;
        left: 265px;
        transform: rotate(275deg) translateY(-612px) translateX(380px);
        user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
    }
    
}



.daemonium_cover{
    font-family: Laviossa;
    padding: 10px;
    text-align: center;
    
    line-height: 40px;
    img{
        margin: 20px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        width: 75%;
        box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
    }
    p{
        
        line-height: 40px;
        font-size: 20px;
        color: rgb(255, 205, 255);  
        a{
            color: rgb(255, 118, 209);
        }
    }
    .daemonium_text{
        line-height: 40px;
        font-size: 30px;
    }
    #mv{
        aspect-ratio: 16 / 9;
        width: auto;
    }
}
@font-face {
    font-family: Laviossa;
    src: url(/font/Laviossa-Medium.otf);
  }

footer{
    width: 100vw;
    text-align: center;
}