body{
    margin:0;
    padding: 0;
    font-family: IBM;
    color: rgb(255, 205, 255);
    background-color: rgb(17, 17, 17);
    #texture_overlay{
        pointer-events: none;
        z-index: 0;
        position: absolute;
        width: 100vw;
        // #overlay{
        //     position: absolute;
        //     object-fit: none;
        //     width: 100vw;
        //     mix-blend-mode: overlay;
        // }
        background-image: url(images/IMG_20220103_164628.jpg);
        mix-blend-mode: overlay;
        background-repeat: repeat-y;
        overflow-x: hidden;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.top_section{
    width: 100vw;
    height: 25vh;
    background-color: rgb(17, 17, 17);
}

.bottom_section{
    width: 100vw;
    background-color: rgb(17, 17, 17);
    padding: 0;
    margin: 0;

    .space {
        width: 100vw;
        height: 10vh;
    }

    .media{
        z-index: 2;
        // display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        video{
            z-index: 2;
            width: 75vw;
        }
        img{
            z-index: 2;
            width: 75vw;
        }
        .post{
            z-index: 2;
            margin: auto;
            text-align: center;
            font-size: 30px;
        }
    }

    .social{
        display: block;
        .sociallink{
            margin: auto;
            text-align: center;
            img{
                width: 200px;
            }
        }
    }

    .content{
        font-size: 0;
        width: 100vw;
        #tracklist{
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            width: 100vw;
        }
        
    }
}

.content_venture{
    overflow: hidden;
    width: 100vw;
    display: block;
    text-align: center;
    margin: auto;
    .venture{
        padding: 0;
        position: relative;
        z-index: 10;
        width: 100vw;
        display: block;
        font-size: 35px;
        img{
            box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            width: 75%;
        }
        .venture_cover_video{
            box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            width: 75%;
            aspect-ratio: 1 / 1;
            height: auto;
            object-fit: cover;
            object-position: 0px -100px;
            border-radius: 8px;
        }
        a{
            color: rgb(255, 220, 220);
        }
        p{
            line-height: 40px;
            padding: 30px;
        }
    }
    .remix_detail{
        z-index: 1;
        position: absolute;
        width: 100vw;
        // left:-350px;
        transform: rotate(358deg) translateY(-42px) translateX(50px);
        user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
    }
    
}



.daemonium_cover{
    font-family: IBM;
    padding: 10px;
    text-align: center;
    
    line-height: 40px;
    img{
        margin: 20px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        width: 75%;
        box-shadow: 0px 0px 28px 26px rgba(0, 0, 0, 0.3);
    }
    p{
        
        line-height: 40px;
        font-size: 30px;
        color: rgb(255, 205, 255);  
        a{
            color: rgb(255, 118, 209);
        }
    }
    .daemonium_text{
        line-height: 40px;
        font-size: 30px;
    }
    #mv{
        aspect-ratio: 16 / 9;
        width: auto;
    }
}
@font-face {
    font-family: Laviossa;
    src: url(/font/Laviossa-Medium.otf);
  }

footer{
    width: 100vw;
    text-align: center;
}