#header-desktop{
    display: block;
    width: 100vw;
    height: 86px;
    background-color: #AE2121;
    box-shadow: 0px 5px 5px #AE2121;

    #dariuulogo{
        position: absolute;
        left: 28px;
        top: 25px;
        -webkit-user-drag: none;
    }

    ul{
        position: absolute;
        display: flex;
        right: 50px;
        list-style: none;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
        li{
            font-family: Accidental Presidency;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 42px;
            padding: 0px 50px;
        }
        a{
            color: #FFFFFF;
        }
    }
  
}
#header-mobile{
    display: none;
}

.musicPanel{
    display: none;
    position: absolute;
    right: 0px;
    border-bottom-left-radius: 10px;
    background-color: rgba(43, 43, 43, 0.624);
    ul{
        li{
            padding: 10px 50px;
            list-style-type: none;
            font-size: 36px;
            text-align: right;
            a{
                color: #EBEBEB;
            }
        }
    }
}

.musicPanelmobile{
    display: none;
    position: absolute;
    right: 0px;
    border-bottom-left-radius: 10px;
    background-color: rgba(43, 43, 43, 0.624);
    ul{
        li{
            padding: 10px 50px;
            list-style-type: none;
            font-size: 36px;
            text-align: right;
            a{
                color: #EBEBEB;
            }
        }
    }
}

body{
    background-color: #2C2C2C;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Accidental Presidency;
    color: #FFE8E8;
}


.show {display: block;}

#banner{
    
    background-color: #8E3130;
    align-items: center;
    img{
        width: 100vw;
        height: 448px;
        object-fit: cover;
    }
}

#linkscontainer{
    color: #FFFFFF;
    #links{
        p{
            text-align: center;
            margin: 5px;
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            li{
                display: inline;
                padding: 0px 20px;
    
                font-family: Accidental Presidency;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;
                align-items: center;
                text-align: center;
    
                color: #EBEBEB;
                a{
                    color: #EBEBEB;
                }
            }
        }
        
    }
    

}

#welcome{
    background-color: #8E3130;
    
    h1{
        margin: 0px;
        padding: 10px;
        background-color: #8E3130;
        display: flex;
        flex-direction: row;
        justify-content: center;        
        font-family: Laviossa;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 75px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.09em;
    }
    img{
        background-color: #8E3130;
        -webkit-user-drag: none;
    }
    h2{
        background-color: #8E3130;
        padding: 0px 0px 50px 0px;
        width: 70vw;
        margin: auto;
        font-family: Laviossa;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 42px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.01em;
    }
}

#singles{
    color : #2F2F2F;
    padding: 50px;
    font-family: Laviossa;
    background: #F63737;
    box-shadow: 0px 8px 43px rgba(0, 0, 0, 0.64);

    #single{
        margin: auto;
        width: 90vw;
        padding: 20px 0px;
        display: grid;
        grid-template-columns: 25% 25% 50%;

        // background-color: aquamarine;
        #description{
            color : #2F2F2F;
            display: flex;
            flex-direction: row;
            grid-area: 1 / span 2;
            img{
                width: 50%;
                object-fit: contain;
            }
            
            #text{
                color : #2F2F2F;
                width: 80%;
                grid-area: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px;
                h2{
                    font-size: 36px;
                }
                h3{
                    font-size: 24px;
                }
                a{
                    color : #2F2F2F;
                }
            }
        }
        #video{
            width: 100%;
            // background-color: #902437;
            grid-area: 1 / span 3;
        }
        
    }
}

#posters{
    width: 100vw;
    // height: 1071px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // padding: 20px 0px;

    img{
        width: 100%;
        object-fit: contain;
    }
}

#listen_now{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: #2C2C2C;
    img{
        width: 50%;
        height: auto;
    }
    #listen{
        color: #FFFFFF;
        padding: 20px;
        font-family: Laviossa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            font-size: 48px;
            line-height: 23px;
        }
        h2{
            font-size: 36px;
            line-height: 7px;
        }
        h3{
            font-size: 24px;
            line-height: 32px;
        }

        a{
            color: #FFFFFF;
        }
    }
}

footer{
    color: #FFFFFF;
    font-size: 24px;

    justify-content: center;
    text-align: center;
}

@font-face{
    font-family: Accidental Presidency;
    src: url(/fonts/ACCID__.TTF);
}

@font-face{
    font-family: Laviossa;
    src: url(/fonts/LAVIOSSA-MEDIUM_0.OTF);
}

body::-webkit-scrollbar {
width: 15px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
background: #2C2C2C;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background-color:#c01e1b;    /* color of the scroll thumb */
width: 15px;
}