#header-desktop {
  display: block;
  width: 100vw;
  height: 86px;
  background-color: #2E2B22;
  box-shadow: 0px 5px 5px #2E2B22;
}
#header-desktop #dariuulogo {
  position: absolute;
  left: 28px;
  top: 25px;
  -webkit-user-drag: none;
}
#header-desktop ul {
  position: absolute;
  display: flex;
  right: 50px;
  list-style: none;
  align-items: center;
  text-align: center;
  color: #D2C8A8;
}
#header-desktop ul li {
  font-family: Accidental Presidency;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  padding: 0px 50px;
}
#header-desktop ul a {
  color: #D2C8A8;
}

#header-mobile {
  display: none;
}

.musicPanel {
  display: none;
  position: absolute;
  right: 0px;
  border-bottom-left-radius: 10px;
  background-color: rgba(43, 43, 43, 0.624);
}
.musicPanel ul li {
  padding: 10px 50px;
  list-style-type: none;
  font-size: 36px;
  text-align: right;
}
.musicPanel ul li a {
  color: #EBEBEB;
}

.musicPanelmobile {
  display: none;
  position: absolute;
  right: 0px;
  border-bottom-left-radius: 10px;
  background-color: rgba(43, 43, 43, 0.624);
}
.musicPanelmobile ul li {
  padding: 10px 50px;
  list-style-type: none;
  font-size: 36px;
  text-align: right;
}
.musicPanelmobile ul li a {
  color: #EBEBEB;
}

body {
  background-color: #2C2C2C;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Accidental Presidency;
  color: #D2C8A8;
}

.show {
  display: block;
}

#banner {
  background-color: #2E2B22;
  align-items: center;
}
#banner img {
  width: 100vw;
  height: 448px;
  -o-object-fit: cover;
     object-fit: cover;
}

#linkscontainer {
  color: #D2C8A8;
}
#linkscontainer #links p {
  text-align: center;
  margin: 5px;
}
#linkscontainer #links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#linkscontainer #links ul li {
  display: inline;
  padding: 0px 20px;
  font-family: Accidental Presidency;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #D2C8A8;
}
#linkscontainer #links ul li a {
  color: #D2C8A8;
}

#welcome {
  background-color: #2E2B22;
}
#welcome h1 {
  margin: 0px;
  padding: 10px;
  background-color: #2E2B22;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: IM_FELL;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.09em;
}
#welcome img {
  background-color: #2E2B22;
  -webkit-user-drag: none;
}
#welcome h2 {
  background-color: #2E2B22;
  padding: 0px 0px 50px 0px;
  width: 70vw;
  margin: auto;
  font-family: IM_FELL;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
}

#singles {
  color: #D2C8A8;
  padding: 50px;
  font-family: IM_FELL;
  background: #69624B;
  box-shadow: 0px 8px 43px rgba(0, 0, 0, 0.64);
}
#singles #single {
  margin: auto;
  width: 90vw;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 25% 25% 50%;
}
#singles #single #description {
  color: #D2C8A8;
  display: flex;
  flex-direction: row;
  grid-area: 1/span 2;
}
#singles #single #description img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
#singles #single #description #text {
  color: #D2C8A8;
  width: 80%;
  grid-area: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
#singles #single #description #text h2 {
  font-size: 36px;
}
#singles #single #description #text h3 {
  font-size: 24px;
}
#singles #single #description #text a {
  color: #D2C8A8;
}
#singles #single #video {
  width: 100%;
  grid-area: 1/span 3;
}

#posters {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#posters img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  color: #D2C8A8;
  font-size: 24px;
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: Accidental Presidency;
  src: url("/fonts/accid__-webfont.eot"); /* IE9 Compat Modes */
  src: url("/fonts/accid__-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/accid__-webfont.woff2") format("woff2"), url("/fonts/accid__-webfont.woff") format("woff"), url("/fonts/accid__-webfont.ttf") format("truetype"), url("/fonts/accid__-webfont.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: Laviossa;
  src: url("/fonts/laviossa-medium_0-webfont.eot"); /* IE9 Compat Modes */
  src: url("/fonts/laviossa-medium_0-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/laviossa-medium_0-webfont.woff2") format("woff2"), url("/fonts/laviossa-medium_0-webfont.woff") format("woff"), url("/fonts/laviossa-medium_0-webfont.ttf") format("truetype"), url("/fonts/laviossa-medium_0-webfont.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: IM_FELL;
  src: url("/fonts/FePirm2.eot"); /* IE9 Compat Modes */
  src: url("/fonts/FePirm2.eot?#iefix") format("embedded-opentype"), url("/fonts/fepirm2-webfont.woff2") format("woff2"), url("/fonts/fepirm2-webfont.woff") format("woff"), url("/fonts/fepirm2-webfont.ttf") format("truetype"), url("/fonts/FePirm2.svg") format("svg"); /* Legacy iOS */
}
body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2E2B22; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #D2C8A8; /* color of the scroll thumb */
  width: 15px;
}/*# sourceMappingURL=its-pretty-dark.css.map */