body {
  background-color: rgb(0, 0, 0);
  background-image: url(/media/ill\ be\ back_3.1.1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Coolvetica;
  color: #EBEBEB;
}

#videoBG {
  position: fixed;
  top: 0;
  width: 100vw;
}

.header-island {
  padding-top: 20px;
  display: flex;
  width: 400px;
  height: 60px;
}
.header-island .menu {
  display: flex;
  margin: 0px 5px 0px 50px;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.24);
  box-shadow: 0px 7px 3px -2px rgba(0, 0, 0, 0.34);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 40px;
  text-align: center;
  justify-content: center;
}
.header-island .menu a {
  width: 80px;
  height: 80px;
  text-align: center;
  justify-content: center;
}
.header-island .menu a img {
  padding-top: 20px;
  width: 50%;
}
.header-island .logo-island {
  margin: 0px 5px 0px 5px;
  width: 120px;
  height: 60px;
  background: rgba(0, 0, 0, 0.24);
  box-shadow: 0px 7px 3px -2px rgba(0, 0, 0, 0.34);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 40px;
  text-align: center;
  justify-content: center;
}
.header-island .logo-island img {
  -webkit-user-drag: none;
  padding-top: 20px;
  width: 80%;
}

.dropdown {
  z-index: 10;
  display: none;
  background: rgba(0, 0, 0, 0.24);
  box-shadow: 0px 7px 3px -2px rgba(0, 0, 0, 0.34);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 40px;
  position: absolute;
  top: 90px;
  left: 50px;
  width: 250px;
}
.dropdown ul {
  padding: 15px;
  list-style-type: none;
}
.dropdown a {
  color: #EBEBEB;
  text-decoration: none;
}
.dropdown a:hover {
  text-decoration: underline;
}

.show {
  display: block;
}

.new-music {
  font-family: Coolvetica;
  display: flex;
  width: 100vw;
  height: 80vh;
}
.new-music .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.new-music .content a {
  transform: translateY(200px);
  color: #EBEBEB;
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px) !important;
          backdrop-filter: blur(5px) !important;
  border-radius: 100px;
}
.new-music .content a:hover {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(15px) !important;
          backdrop-filter: blur(15px) !important;
}
.new-music .island {
  display: flex;
  margin: auto;
  width: 842px;
  height: 450px;
  justify-content: center;
  border-radius: 100px;
}
.new-music .island .under-img {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
}
.new-music .island .under-img h1 {
  font-size: 36px;
  letter-spacing: 1.5px;
  line-height: 10px;
}
.new-music .island .under-img p {
  line-height: 2px;
}
.new-music .island .under-img a {
  color: #EBEBEB;
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px) !important;
          backdrop-filter: blur(15px) !important;
  border-radius: 100px;
}
.new-music .island .under-img a:hover {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px) !important;
          backdrop-filter: blur(20px) !important;
}
.new-music .island img {
  -webkit-user-drag: none;
  position: absolute;
  width: 426px;
  height: 426px;
  margin: auto;
}

#dariuu {
  display: flex;
}
#dariuu div {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
}
#dariuu div img {
  -webkit-user-drag: none;
  margin: auto;
}
#dariuu div a {
  padding: 10px;
  margin: auto;
  font-family: IM_FELL_DPICA;
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
}
#dariuu div a:hover {
  text-decoration: underline;
}

.albums {
  margin: auto;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.albums #album {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.albums #album img {
  -webkit-user-drag: none;
  box-shadow: -5px 10px 12px 1px rgba(0, 0, 0, 0.67);
  border-radius: 15px;
}
.albums #album a {
  padding: 5px;
  margin: auto;
  font-family: IM_FELL_DPICA;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
.albums #album a:hover {
  text-decoration: underline;
}

#linkscontainer {
  color: #ffffff;
}
#linkscontainer #links p {
  text-align: center;
  margin: 5px;
}
#linkscontainer #links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#linkscontainer #links ul li {
  display: inline;
  padding: 0px 20px;
  font-family: Accidental Presidency;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
#linkscontainer #links ul li a {
  color: #ffffff;
  text-decoration: none;
}
#linkscontainer #links ul li a img {
  -webkit-user-drag: none;
}
#linkscontainer #links ul li a:hover {
  text-decoration: underline;
}

footer {
  margin: 15px;
  line-height: 10px;
  font-size: 24px;
  justify-content: right;
  text-align: right;
}

@font-face {
  font-family: IM_FELL;
  src: url("/fonts/FePirm2.eot"); /* IE9 Compat Modes */
  src: url("/fonts/FePirm2.eot?#iefix") format("embedded-opentype"), url("/fonts/fepirm2-webfont.woff2") format("woff2"), url("/fonts/fepirm2-webfont.woff") format("woff"), url("/fonts/fepirm2-webfont.ttf") format("truetype"), url("/fonts/FePirm2.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: IM_FELL_DPICA;
  src: url("/fonts/IM_FELL_Double_Pica_Roman_SC.eot"); /* IE9 Compat Modes */
  src: url("/fonts/IM_FELL_Double_Pica_Roman_SC.eot?#iefix") format("embedded-opentype"), url("/fonts/fedpsc2-webfont.woff2") format("woff2"), url("/fonts/fedpsc2-webfont.woff") format("woff"), url("/fonts/FeDPsc2.ttf") format("truetype"), url("/fonts/IM_FELL_Double_Pica_Roman_SC.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: Accidental Presidency;
  src: url("/fonts/accid__-webfont.eot"); /* IE9 Compat Modes */
  src: url("/fonts/accid__-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/accid__-webfont.woff2") format("woff2"), url("/fonts/accid__-webfont.woff") format("woff"), url("/fonts/accid__-webfont.ttf") format("truetype"), url("/fonts/accid__-webfont.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: Coolvetica;
  font-weight: 500;
  src: url("/fonts/coolvetica_rg-webfont.eot"); /* IE9 Compat Modes */
  src: url("/fonts/coolvetica_rg-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/coolvetica_rg-webfont.woff2") format("woff2"), url("/fonts/coolvetica_rg-webfont.woff") format("woff"), url("/fonts/coolvetica_rg-webfont.ttf") format("truetype"), url("/fonts/coolvetica_rg-webfont.svg") format("svg"); /* Legacy iOS */
}
body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(20, 20, 20); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(83, 83, 83); /* color of the scroll thumb */
  width: 15px;
}/*# sourceMappingURL=main-style.css.map */